extends ../layout

block content
  .row.clearfix
    h1.page-header=title
      small.pull-right
        a.btn.btn-info(href='app/')
          span.fa.fa-tasks(aria-hidden="true")
          |  Registrer App

    unless apps.length
      .jumbotron
        h1 Want access to our API ?
        p You have made a app,  want to access to our API to get data.
        p Before, you app must be registred and to grant acces to the API via a token .
        p
          a.btn.btn-primary.btn-lg(href="app/")
            span.fa.fa-plus(aria-hidden="true")
            |  Click here to register your app



    unless !apps.length
      blockquote.blockquote-reverse
        p This pairs of random characters are your keys to the #[span.text-success kingdom] !
        | Please, don't lose them or publish those on some forum, #[i.fa.fa-stack-overflow] or #[i.fa.fa-github]
        small.lalbel-label-warning Use those wisely and carefully

      .row
        each client in apps
          include ./list-item-alt


      // Modal - Confirmation reset tokens
      include ./modal-confirm-reset


      // Modal - Confirmation delete client
      include ./modal-confirm-delete