// Modal - Confirmation reset tokens
#confirmReset.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalConfirmReset')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Confirmation
      .modal-body
        p The reset of your token will unauthorize all current versions of your app using the token.
        p It's usefull if your access token has been leaked.
        p Do you still want to reset the access token ?
      .modal-footer
        // button.btn.btn-dangerdefault(type='button', data-dismiss='modal') Cancel
        a.btn.btn-warning.btn-sm.btn-confirm#btnConfirmReset Reset
