extends ./layout

block content
  .row.clearfix
    if (!user || !user.isAuth)
      .col-md-5
        include ./dialog/login

    .col-md-6.col-md-offset-1
      if(app && app.hasLogo)
        include ./dialog/grant-alt
      else
        include ./dialog/grant


