extends ./layout

block content
  .row.clearfix
    h1.page-header=title
    .col-lg-3.col-md-3.col-sm-4
      .list-group.navbar-doc
        a.list-group-item.active(href="#basic")
          i.fa.fa-book.fa-lg
          |   Introduction
        a.list-group-item(href="#auth")
          i.fa.fa-shield.fa-lg
          |   Authentication
        a.list-group-item(href="#format")
          i.fa.fa-list-ul.fa-lg
          |   Formats
        a.list-group-item(href="#limit")
          i.fa.fa-cubes.fa-lg
          |   Limits
        a.list-group-item(href="#ex")
          i.fa.fa-info-circle.fa-lg
          |   Examples

    .col-lg-9.col-md-9.col-sm-8
      p This documentation describes how to use our API to interract with our system.

      include ./doc/basic

      .panel.panel-danger
        .panel-heading
          h3.panel-title#auth Authentication
        .panel-body
          p All requests through the API require a token. You can get your API token by register into our application.
          p Your token must be included into each HTTP Header request by :
          p
            code Authorization : Basic <#[i your-access-token]>
          p
            if user && user.token
              Your access token is : #[b #{user}]
            else
              a(href="/public/signup") Click here to get your token

      include ./doc/format

      .panel.panel-warning#limit
        .panel-heading
          h3.panel-title Limits
        .panel-body
          p There is no limits to numbers of request. Although, be wise and don't make unnecessary requests
          p We provide a open access to our data, it wouldn't be nice to overload our servers.

      .panel.panel-primary#ex
        .panel-heading
          h3.panel-title Examples
        .panel-body
          p There is no limits to numbers of request. Although, be wise and don't make unnecessary requests
          p We provide a open access to our data, it wouldn't be nice to overload our servers.