
block content
  .panel.panel-primary
    .panel-heading
      h3.panel-title#basic Introduction - How it works
    .panel-body
      p Our API respect REST principles. It works using HTTP protocol, responds only to #[b GET, POST, PUT & DELETE] requests to retrieve or send information.
      p Responds always with a #[a(href="#format") HTTP Status code] and a JSON format document with the result of your request.
      p Eventually an error will occurs, a message will be return as response with the correspponding 
        | #[a(href="#format") HTTP Status code] to this error. 


      p 
        | The API URL to reach is :  
        pre http:://www.pfe-app.io/api/v1
  