doctype html
html(lang='en')
  include ./partials/_head
  body
  
    include ./partials/_navbar-header

    .container
      if(messages)
        .row.clearfix
          != messages('./partials/_flash-msg', locals)
      block content


    include ./partials/_footer
