doctype html
html(lang='en')
  include ./_partials/_head
  body

    include ./_partials/_navbar-header

    .container
      if(messages)
        .row.clearfix
          != messages('./_partials/_flash-msg', locals)
      block content


    include ./_partials/_footer
