

each type in Object.keys(flashMsg)
	each flash in flashMsg[type]
		.row.clearfix
			div.alert.alert-dismissible(class='alert-'+type)
				button.close(type="button" data-dismiss="alert") &times;
				if(flash.title)
					h4=flash.title
				p=flash.msg

