footer
	p © Copyright Team 06 - 2017
	p
		| Contact information : 
		a(href='mailto:team06@vinci.be') team06@vinci.be
		| .

block scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js')
	script(src='/js/app.js')
