head
    meta(charset='UTF-8',name='viewport',content="width=device-width, initial-scale=1")
    meta(name='description', content='PFE App for the final year.')
    meta(name='author', content='Team 06')
    title= 'PFE App - ' + title
    // HTML5 shim, for IE6-8 support of HTML elements
    <!--[if IE 8]>
    script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')
    <![endif]-->
	
    link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    block head
    