include ../_mixins


#navbar-main.navbar-collapse.collapse
  ul.nav.navbar-nav
    +navLink('About','/public/about','address-card-o')
    +navLink('Doc','/public/doc','book')
    +navLink('Training','/public/training','inbox')


  ul.nav.navbar-nav.navbar-right
    if isAuth
      +navLink('APP Box','/manage/apps','th-large')
      +navLink('Logout','/public/logout','sign-out')
    else
      +navLink('Sign up','/public/signup')
      +navLink('Login','/public/login')
