include _mixins


#navbar-main.navbar-collapse.collapse
  ul.nav.navbar-nav
    +navLink('About','/public/about')


  ul.nav.navbar-nav.navbar-right
    +navLink('Sign up','/public/signup')
    +navLink('Login','/public/login')